---
const year = new Date().getFullYear();
const { lang = "en" } = Astro.props;

const translations = {
    en: {
        home: "Home",
        philosophy: "Philosophy",
        resume: "Resume",
        projects: "Projects",
    },
    es: {
        home: "Inicio",
        philosophy: "Filosofía",
        resume: "Currículum",
        projects: "Proyectos",
    },
};

const t = translations[lang];
---

<footer
    class="flex flex-col justify-center items-start max-w-2xl mx-auto w-full mb-8"
>
    <hr class="w-full border-1 border-gray-200 dark:border-gray-800 mb-8" />
    <div class="w-full max-w-2xl grid grid-cols-1 gap-4 pb-16 sm:grid-cols-3">
        <div class="flex flex-col space-y-4">
            <a
                href={`/${lang}`}
                class="text-gray-500 hover:text-gray-600 transition">{t.home}</a
            >
            <a
                href={`/${lang}/philosophy`}
                class="text-gray-500 hover:text-gray-600 transition"
                >{t.philosophy}</a
            >
            <a
                href={`/${lang}/resume`}
                class="text-gray-500 hover:text-gray-600 transition"
                >{t.resume}</a
            >
            <a
                href={`/${lang}/projects`}
                class="text-gray-500 hover:text-gray-600 transition"
                >{t.projects}</a
            >
        </div>
        <div class="flex flex-col space-y-4">
            <a
                href="https://twitter.com/achirinos"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-500 hover:text-gray-600 transition">Twitter</a
            >
            <a
                href="https://linkedin.com/in/achirinos"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-500 hover:text-gray-600 transition">LinkedIn</a
            >
        </div>
        <div class="flex flex-col space-y-4">
            <p class="text-gray-500">© {year} Asdrúbal Chirinos</p>
        </div>
    </div>
</footer>
